PB_ADMIN_EMAIL=admin@secondscout.com
PB_ADMIN_PASSWORD=secondscout123
PUBLIC_POCKETBASE_URL=https://second-scout.pockethost.io/
CRON_SECRET=e2b1afb612964470444601b526d54311c9cbb8841aaa22b32892e02d014d49b9
NETLIFY_BUILD_TIMEOUT=180
NETLIFY_BUILD_MAXRETRY=3
