PB_ADMIN_EMAIL=admin@secondscout.com
PB_ADMIN_PASSWORD=secondscout123
PUBLIC_POCKETBASE_URL=https://second-scout.pockethost.io/
CRON_SECRET=your_random_secret_here
NETLIFY_BUILD_TIMEOUT=180
NETLIFY_BUILD_MAXRETRY=3
